.navbar-dark {
    background-color: rgb(52, 55, 58);
}

.header{
    padding: 50px 0px 0px 0px;
}
.sarah{
    font-size: 180%;
    padding: 0px 20px 0px 0px;
    font-family: "Lucida Console";
}
.bg {
    background-color: rgb(243, 227, 242);
    background-image: url("/assets/main.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
   
}

.footer {
    background-color: rgb(146, 184, 202);
    
}

a {
    color: black;
}

a:hover {
    color: rgb(32, 32, 32);
}

.front {
    min-height: 600px;
}

.first {
    background-color: rgb(245, 235, 223);
    background-color:  rgb(66, 107, 126);
}

.second {
    background-color: rgb(52, 110, 98);
    
   
}

.carousel {
    background-color:rgb(193, 226, 219);
    
}