.navbar-dark {
    background-color: rgb(66, 107, 126);
}

.header{
    padding: 50px 0px 0px 0px;
}
.sarah{
    font-size: 180%;
    padding: 0px 20px 0px 0px;
    font-family: "Lucida Console";
}
.bg {
    background-color: rgb(243, 227, 242);
    background-image: url("/assets/main.jpg");
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
   
}

.footer {
    background-color: rgb(146, 184, 202);
    
}

a {
    color: black;
}

.border {
    background-color: rgb(245, 235, 223);
}