body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
a{
    color: black;
}
a:hover{
    color: black;
}
#section{
    min-height: 120vh;
}
#section p{
    font-size: 23px;
    font-weight: 250;
}
.nav {
    background-color: rgb(209, 223, 220);
    height: 75px;
    display: flex; 
    justify-content: flex-end;
    padding-right: 5%;
    
}
.nav a{
    color: rgb(59, 59, 59);
    font-size: 22px;
}
.nav a:hover{
    color: rgb(99, 99, 99);
}

#intro{
    background-color:  rgb(209, 223, 220);
    padding: 4% 10% 20%;  
}
#intro h1{
    font-size: 50px;
    color: rgb(51, 51, 51);
}

#about {
    background-color:  rgb(66, 107, 126);
}
#about p{
    padding: 10%;
    background-color: rgb(61, 95, 116);
    width: 105%;

}

.profile-pic{
    max-height: 55%;
    max-width: 55%;
    border-radius: 100%;
    margin-top: 40%;

}
.rightAbout{
    background-color: rgb(185, 194, 194);
    height: 120vh;


}

#experience{
    background-color:rgb(125, 158, 173);
    padding: 5% 10% 0% 10%;
    color: rgb(51, 51, 51);
}

#experience h1{
    font-size: 43px;
    color: rgb(36, 36, 36);
    border-bottom-style: solid;
    border-bottom-color: rgb(36, 36, 36);
}
#experience h3{
    color: rgb(36, 36, 36);
    padding-top: 3%;
}
#experience .subtitle{
    font-size: 17px;
    color: rgb(56, 56, 56);
    border-top-style: double;
    padding-top: 1%;
}
#experience p{
    font-size: 18px;
}
#experience .col{
    background-color:rgb(223, 238, 233);
    margin: 4px;
    padding: 3%;
}
#experience .row{
    border-bottom-style: solid;
    border-bottom-color: rgb(36, 36, 36);
    border-top-style: solid;
    border-top-color: rgb(36, 36, 36);
}
.skills{
    padding: 3% 10%;
    background-color:rgb(223, 238, 233);
}
ul{
    list-style: none;
    font-weight: 600;
}
#projects {
    background-color:  rgb(66, 107, 126);
}
#projects p{
    font-size: 20px;
}

.leftProj {
    background-color:rgb(185, 194, 194);
    height: 120vh;
}
.carousel{
    margin-top: 30%;
   
}
.carousel-item{
    height: 400px;
    background-color: rgb(151, 160, 160);
    margin-left: 15px;
    padding: 5% 12% 5% 10%;
}
.carousel-item p{
    border-top: double;
}

#contact{
    background-color: rgb(209, 223, 220);
    padding: 5%;
}
#contact button{
    width: 200px;
}
button{
    border: none;
    background-color: rgb(151, 160, 160);
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
}
button:hover{
    background-color: rgb(117, 124, 124);
}
button:focus{
    outline: none;
}
.fa{
    padding: 2%;
}

